<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/admin.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/admin">Login As A admin</a></li>
            <li><a href="/about-us">About us</a></li>
            <li><a href="contact-us">Contact us</a></li>
            <li><a href="/attendance-records">Login As a students/teacher</a></li>
            <li><a href="/home">Home page</a></li>
            <li><a href="/allattendance">All Attendance</a></li>

        </ul>
    </nav>


    <div class="container">
        <h1>Welcome to Attendance Management System</h1>
        <p>This system helps you manage attendance records for both students and staff efficiently.</p>
        <h2>Features</h2>
        <ul>
            <li>Record attendance for students and teachers</li>
            <li>View attendance reports</li>
            <li>Track attendance of staff</li>
            <li>Generate reports for payroll and performance evaluation</li>
        </ul>

    </div>

    <h1>
        Login for wensite-</h1>
    <li><a href="/home">Home page</a></li>


</body>



</html>